nav {
    background-color: rgba(0, 0, 255, 0.63);
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    color: black;
    opacity: 0.8;
}

img{
    border-radius: 20px;
    height: 100px;
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li a{
    margin-right: 50px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.home-input input{
    height: 50px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.54);
    margin-bottom: 20px;
    font-size: larger;
    border-color: rgba(0, 0, 255, 0.25);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    color: white;
}

button{
    width: 200px;
    height: 50px;
    font-size: larger;
    border-radius: 10px;
    color: white;
    background-color: #007bff;
}