body{
  background-color: black;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  justify-content: center;
  align-items: center;
}

.loader-text {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.toggleButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 255, 0.29);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 5px;
  border-radius: 50px;
  height: 30px;
  width: 50px;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: rgba(255, 255, 255, 0.38);
}

.toggleButton svg {
  width: 20px;
  height: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dark-mode {
  color: #ffffff;
}

.dark-mode button {
  background-color: rgba(0, 0, 255, 0.33);
  color: black;
}

.dark-mode input{
  color: black;
  background-color: rgba(255, 255, 255, 0.76);
}

.dark-mode textarea{
  color: black;
  background-color: rgba(255, 255, 255, 0.76);
}

.dark-mode a{
  color: black;
}

.dark-mode p{
  color: black;
}

.dark-mode h1{
  color: black;
}

.dark-mode h2{
  color: black;
}

.dark-mode h3{
  color: black;
}

.dark-mode h4{
  color: black;
}

.dark-mode h5{
  color: black;
}

.dark-mode h6{
  color: black;
}

.dark-mode label{
  color: black;
}

.dark-mode td{
  color: black;
}

.dark-mode th{
  color: black;
}

.dark-mode select{
  color: black;
  background-color: rgba(255, 255, 255, 0.76);
}

.dark-mode Select{
  color: black;
}

.dark-mode option{
  color: black;
}

.dark-mode .depart-card-tickets-table td{
  color: black;
}

.dark-mode table td{
  color: black;
}

.dark-mode .card-users-body{
  color: rgba(0, 0, 0, 0.06);
}

.dark-mode nav{
  background-color: rgba(116, 116, 143, 0.53);
}

.dark-mode .home-container{
  background-color: rgba(240, 248, 255, 0.62);
}

.dark-mode .container {
  /* Modify the background color and text color for the container */
  background-color: #333333;
  color: #cccccc;
  height: 100vh;
}

.toggleChatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 255, 0.29);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  padding: 5px;
  border-radius: 50px;
  height: 30px;
  width: 50px;
  transition: background-color 0.3s ease;
}

.toggleChatButton:hover {
  background-color: #0056b3;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
